<h1>Listing history_points</h1>

<table>
  <tr>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Time</th>
  </tr>

<% @history_points.each do |history_point| %>
  <tr>
    <td><%=h history_point.latitude %></td>
    <td><%=h history_point.longitude %></td>
    <td><%=h history_point.time %></td>
    <td><%= link_to 'Show', history_point %></td>
    <td><%= link_to 'Edit', edit_history_point_path(history_point) %></td>
    <td><%= link_to 'Destroy', history_point, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New history_point', new_history_point_path %>